<div class="map-container">
  <sebm-google-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [streetViewControl]="streetViewControl"
    (mapClick)="openDialog($event)"
  >
    <sebm-google-map-marker
      *ngFor="let m of markers"
      [latitude]="m.latitude"
      [longitude]="m.longitude"
    >
      <sebm-google-map-info-window>
        <app-marker-info
          [id]="m.id"
          [street]="m.street"
          [locationDesc]="m.locationDesc"
          [trees]="m.trees"
        ></app-marker-info>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>
</div>

