.d-marker {
  width: 380px;
  text-align: justify;

  form {
    display: flex;
    flex-direction: column;

    fieldset {
    border: none;
    display: flex;

      md-input-container {
        margin: 20px;
        padding-bottom: 1px;
      }
    }
  }

}
